@import url("https://rsms.me/inter/inter.css");
/* @import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #200020 0%, #151015 90%);
  font-family: 'Major Mono Display', monospace;
}

body {
  font-family: "Inter var", sans-serif;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMwLjUgMTZDMzAuNSAyNC4wMDgxIDI0LjAwODEgMzAuNSAxNiAzMC41QzcuOTkxODcgMzAuNSAxLjUgMjQuMDA4MSAxLjUgMTZDMS41IDcuOTkxODcgNy45OTE4NyAxLjUgMTYgMS41QzI0LjAwODEgMS41IDMwLjUgNy45OTE4NyAzMC41IDE2WiIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzcuNjU2ODUgOSA5IDcuNjU2ODUgOSA2QzkgNC4zNDMxNSA3LjY1Njg1IDMgNiAzQzQuMzQzMTUgMyAzIDQuMzQzMTUgMyA2QzMgNy42NTY4NSA0LjM0MzE1IDkgNiA5WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="),
    auto;
}


@media screen and (max-width: 568px) {
  .full {
    visibility: hidden;
    display: none;
  }
}

/* Variables */
:root {
  --body-color: black;
  --checkout-color: #ffffff;
  --checkout-color2: #500050;
  --elements-color: #6772e5;
  --body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  --h1-color: #ff1fff;
  --h2-color: #ff81ff;
  --h3-color: #ffacff;
  --href-color: #20ffff;
  --radius: 6px;
  --container-width-max: 1280px;
  --page-width-max: 600px;
  --transition-duration: 2s;
}
/* canvas{
  position: absolute;
  z-index: 99 !important;
  left: 0;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
} */

.header-content {
  position: fixed;
  border-radius: 0 0 20px 20px;
  height: min(8vw,100px);
  max-height: 120px;
  width: 100vw;
  left: 0;
  top: 0;
  color: white;
  /* padding: 1vw; */
  background: var(--body-color);
  opacity: 90%;
font-family: 'Major Mono Display', monospace;
font-size: min(2vw,20px);
}
.faq-item{
  display: block;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.25px;
  border-color: #909090;
  color: white!important;
  width: 100%;
  max-width: 65vh;
  margin: 0 20px 20px 0;
  font-weight:  bold;
  text-decoration: none;
  box-shadow: 0 0 10px #abffad, 0 0 5px #00ff50;
    z-index: 99;
  padding: 10px;
  line-height: normal!important;
}
.cw-button{
  border-style: solid;
  border-width: 1.25px;
  border-color: #90ff90;
  width: auto;
  /* height: 6vw; */
  color: white;
  background-color: black;
  position: relative;
  float: right;
  padding: 1vw;
  right: 5px;
  top: 5px;
  margin: .25vw;
  line-height: min(3vw,20px);
}
.backdrop{
  position: fixed;
  z-index: 0;
  width: 100vw !important;
  height: 100vh !important;
}
body {
  margin: 0;
  padding: 0;
  background: var(--body-color);
  overflow-y: scroll;
  color:var(--h3-color);
}

* {
  /* box-sizing: border-box; */
  font-family: 'Bungee Hairline', cursive;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.faq-div{
  width: 100%;
  /* background-color: red; */
  display: block;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.25px;
  border-color: #909090;
  color: white!important;
  width: 100%;
  max-width: 65vh;
  margin: 0 20px 20px 0;
  font-weight:  bold;
  text-decoration: none;
  background-color: #00000090;
  box-shadow: 0 0 20px #abffad, 0 0 10px #00ff50;
    z-index: 99;
  padding: 10px;
  line-height: normal!important;
}
.shop-info {
  margin: 20px;
  display: inline;

  /* padding: 5vw; */
}
.shop-info-div {
  /* display: inline; */
  margin: 10px 0 20px 0 ;
  /* text-align: center; */
  display: block;
  height: 60px;
  /* background-color: blue */

}
.shop-sum-div{
  /* display: flex; */
  width: 100%;
  /* padding: 10px; */
  /* background-color: red */
}
.cart-button{
display: block;
width: 95%;
left: 0;
margin-top: 0;
margin-bottom: 0;
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.cart-button-top{
  border-radius: 10px 10px 0 0!important;
}
.cart-button-mid{
  border-radius: 0 0 0 0!important;
}
.cart-button-bot{
  border-radius: 0 0 10px 10px !important;
  margin-bottom: 30px;
}

.spanx {
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* display: inline !important; */
}
.shop-button-div {

  /* display: grid; */

  /* padding: 20px; */
    /* background-color: yellow; */
}

.add-button{
  border-radius: 0px 10px 10px 0!important;

}
.subtract-button{
border-radius: 10px 0px 0 10px!important;
}
.change-count-button{
width: 45%;
  margin: 10px 00px 10px 00px ;
}
.clear-cart-background {
background-color: #50000050!important;
}
#__next {
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--container-width-max);
  padding: 45px 25px;
  display: absolute;
  flex-direction: row;
  z-index: 99;
  padding-top: 12vh;
}

.page-container {
  padding-bottom: 60px;
  max-width: var(--page-width-max);
}

h1 {
  font-weight: 600;
  color: var(--h1-color);
  margin: 6px 0 12px;
  font-size: 27px;
  line-height: 32px;
}

h1 span.light {
  color: var(--h3-color);
}

h2 {
  color: var(--h2-color);
  margin: 8px 0;
}

h3 {
  font-size: 17px;
  color: var(--h3-color);
  margin: 8px 0;
}

.faq-a {
  color: var(--href-color);
  text-decoration: underline;
}

a {
  color: var(--checkout-color);
  text-decoration: none;
}


.nft-container{
  max-width: 500px;
  min-width: 50vh;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: min(5vw,100px);
  margin-bottom: 100vh;
  background: #00000090;
  border-radius: 20px;
  border-style: solid;
  border-width: 1.25px;
  border-color: #909090;
}

.header-logo img {
  height: min(6vw,80px);
}
.header-logo{
  color: black;
  font-size: min(3vw,40px);
  color: white;
  font-weight: 600;
  /* position: fixed; */
  float: left;
  padding: 1vw;
  margin: 1vw;
  margin-top: -1vw;
}


ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 64px;
}

.card {
  display: block;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.25px;
  border-color: #909090;
  position: relative;
  /* padding: 12px; */
  height: min(400px,100vw);
  width: min(400px, 100vw);
  flex: 0 0 33%;
  min-width: 304px;
  width: 33%;
  margin: 0 20px 20px 0;
  text-decoration: none;
  box-shadow: 0 0 160px #abffad, 0 0 60px #00ff50;
    z-index: 99;
}
.card2 {
  display: block;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.25px;
  border-color: #909090;
  position: relative;
  /* padding: 12px; */
  /* height: min(400px,100vw);
  width: min(400px, 100vw); */
  flex: 0 0 33%;
  left: 33%;
  /* min-width: 304px; */
  /* width: 33%; */
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  box-shadow: 0 0 160px #abffad, 0 0 60px #00ff50;
    z-index: 99;
}
.card h2 {
  color: #fff;
  margin: 10px;
}
.card h2.bottom {
  position: absolute;
  bottom: 10px;
}

.card img {
  width: 90%;
  margin: 5%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 20px #50ff80, 0 0 10px #00ffff;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.error-message {
  color: #ef2961;
}

.FormRow,
fieldset,
input[type='number'],
input[type='text'] {
  border-radius: var(--radius);
  padding: 5px 12px;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: 16px;
  margin-top: 10px;
}

input[type='range'] {
  margin: 5px 0;
  width: 100%;
}

button {
  border-radius: var(--radius);

  font-size: larger;
  /* border: 0; */
  /* padding: 12px 16px; */
  /* margin-top: 10px; */
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  /* display: block; */
  /* width: 100%; */
  /* z-index: 99; */
  /* color: var(--h3-color); */
  /* border: 1px solid var(--elements-color); */
  /* background: var(--elements-color); */
  /* transition: box-shadow var(--transition-duration); */
}
.shop-button {
  border-radius: var(--radius);
  color: white;
  font-size: larger;
  border: 0;
  /* padding: 12px 16px; */
  /* margin: 10px 00px 10px 00px ; */
  /* margin-top: 10px; */
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  /* display: flex; */
  /* min-width: 16vw; */
  /* width: auto; */
  z-index: 99;
  border: 1px solid var(--elements-color);
  color: var(--h3-color);
  background: var(--elements-color);
  transition: box-shadow var(--transition-duration);
  min-width: 60px;
  min-height: 60px;

}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
form{
  min-width: min(100vw,400px) ;
  display:flex;
}

.elements-style {
  color: var(--elements-color);
  border: 1px solid var(--elements-color);
}
.elements-style-background {
  background: var(--elements-color);
  transition: box-shadow var(--transition-duration);
}
.card.elements-style-background:hover {
  box-shadow: 20px 20px 60px #464e9c, -20px -20px 60px #8896ff;
}
.checkout-style {
  color: var(--checkout-color);
  border: 1px solid var(--checkout-color);
}
.checkout-style-background {
  background: var(--checkout-color);
  transition: box-shadow var(--transition-duration);
}
.card.checkout-style-background:hover {
  box-shadow: 20px 20px 60px #614b91, -20px -20px 60px #bd91ff;
}
.cart-style-background {
  background: #00000090;
  transition: box-shadow var(--transition-duration);
}
.card.cart-style-background:hover {
  box-shadow: 20px 20px 60px teal, -20px -20px 60px teal;
}

/* Products */
.products {
  display: grid;
  /* gap: 1rem; */
  /* grid-template-columns: repeat(2, 1fr); */
  margin-top: 1rem;
}
.nftimage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10%;
}
.product img {
  /* max-width: 100%; */

  /* margin: 30px; */
  border-radius: 20px;
  box-shadow: 0 0 40px #50ff80, 0 0 20px #00ffff;
  text-align: center;
  align-items: center;

  /* margin: 60px; */
}
.whitelist-div {
  display: flex;

  background: #00000090;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.25px;
  border-color: #909090;
  color: white!important;
  width: 100%;
  /* max-width: 65vh; */
  /* margin: 0 20px 20px 0; */
  margin: 10px;
  padding: 10px;
  font-weight:  bold;
  text-decoration: none;
  box-shadow: 0 0 10px #abffad, 0 0 5px #00ff50;
    z-index: 99;
  margin-top: min(15vh,100px);
  line-height: normal!important;
}
.product{
  display: inline !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.card-number {
  display: inline;
  white-space: nowrap;
  font-family: Menlo, Consolas, monospace;
  color: #3c4257;
  font-weight: 500;
}
.card-number span {
  /* display: inline-block; */
  width: 4px;
}

/* Code block */
code,
pre {
  font-family: 'SF Mono', 'IBM Plex Mono', 'Menlo', monospace;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.03);
  padding: 12px;
  border-radius: var(--radius);
  max-height: 500px;
  width: var(--page-width-max);
  overflow: auto;
}

.banner {
  /* max-width: 825px; */

  width: auto;
  /* margin: 0 auto; */
  font-size: min(3vw,20px);
  background: var(--body-color);
  font-weight: 600;
  opacity: 90%;
  color: #6a7c94;
  border-radius: 50px 0 0px 0px;
  /* box-shadow: -10px 10px 20px #20ff50, 10px -10px 20px #002010; */
  display: flex;
  align-items: right;
  box-sizing: border-box;
  padding: 15px;
  line-height: 1.15;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  justify-content: right;
  z-index: 99;
}
.whitelist-submit{
  width: auto;
  right: 10px;
  margin: 10px!important;
  padding: 10px!important;
  position: relative;
  display: block;
  font-size: 1rem!important;
}
.whitelist-form{
  width: 100%;
}
.whitelist-input{
  width: 80%!important;
  margin: 10px!important;
}

@media only screen and (max-width: 980px) {
  .container {
    flex-direction: column;
    padding-top: 12vh;
  }



  .card {
    margin: 0 20px 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 12vh;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
  .faq-div {
  width: 100vw;
  margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding-top: 12vh;
  }

  .card {
    display: block;
    border-radius: 8px;
    /* flex: 0 0 100%; */
    /* max-width: 100%; */
    padding-left: 0;
    padding-right: 0;
    margin: 20px;
    box-shadow: none;
  }

.faq-div {
width: 100vw;
}
.whitelist-div{
  width: 100vw;
}
  .card-list {
    padding-top: 12vh;
  }

  code,
  pre,
  h3 {
    display: none;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}
